---
layout: page
title: Topics
permalink: /topics/
description: Posts organized by topic.
---
<p class="mb-40">
  {{ page.description }}
  You can also <a href="{% link index.html %}">see posts in chronological order</a>.
</p>

{% assign sorted_tags = (site.tags | sort:0) %}
{% for tag in sorted_tags %}
  {% assign tag_name = tag | first %}
  {% assign posts = tag | last %}
  {% assign any_articles = false %}
  {% for post in site.categories['articles'] %}
    {% if post.tags contains tag_name %}
      {% assign any_articles = true %}
    {% endif %}
  {% endfor %}

  {% if any_articles == true %}
    <h4 class="topic">{{ tag_name }}</h4>
    <ul class="related-posts">
    {% for post in site.categories['articles'] %}
      {% if post.tags contains tag_name %}
      <li>
        <a href="{{ post.url }}">
          {% if post.title == "" %}
            {{ post.content | strip_html | truncate: 80 }}
          {% else %}
            {{ post.title }}
          {% endif %}
        </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

{% assign any_uncategorized = false %}
{% for post in site.categories['articles'] %}
  {% if post.tags == empty %}
    {% assign any_uncategorized = true %}
  {% endif %}
{% endfor %}

{% if any_uncategorized %}
  <h4 class="topic">Uncategorized</h4>
  <ul class="related-posts">
    {% for post in site.categories['articles'] %}
      {% if post.tags == empty %}
        <li>
          <a href="{{ post.url }}">
            {% if post.title == "" %}
              {{ post.content | strip_html | truncate: 80 }}
            {% else %}
              {{ post.title }}
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
