---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

a:visited {
  color: #2a7ae2;
}
h3 a, h3 a:visited {
  color: #111;
}
.post-meta a {
  color: #828282;
}
