---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$light-purple: #a463f2;
$near-black: #111;
$gray: #828282;

a, a:visited {
  color: $light-purple;
  text-decoration: underline;
}
a:hover, a:focus {
    color: $near-black;
}
.post-meta {
  font-family: Consolas, monaco, monospace;
  color: $gray;
  a {
    color: $gray;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
body {
  background-color: #f6fffe;
  line-height: 1.5;
}
h1, h2, h3, h4 {
  color: $light-purple;
  font-family: Consolas, monaco, monospace;
  &.post-title {
    letter-spacing: 0px;
    line-height: 1.3;
  }
  a {
    color: $light-purple;
    text-decoration: none;
    text-decoration-color: $light-purple;
    &:visited {
      color: $light-purple;
    }
  }
}
.topic {
  margin-bottom: 10px;
}
.related-posts {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 20px;
  a {
    color: $near-black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    line-height: 1.7
  }
}
.site-header, .site-footer {
  font-family: Consolas, monaco, monospace;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.current {
      color: $light-purple;
      text-decoration: underline;
    }
  }
}
a.read-more, a.all-topics {
  font-family: Consolas, monaco, monospace;
  text-decoration: none;
  color: $gray;
  &:hover {
    text-decoration: underline;
  }
}
blockquote {
  border-left: 4px solid $light-purple;
  font-style: normal;
  letter-spacing: inherit;
  font-size: inherit;
}
.post-tag-section {
  margin-bottom: 50px;
}
.text-center {
  text-align: center
}
